<form [formGroup]="familyForm"
      novalidate
      (ngSubmit)="onSubmit()">
  <mat-card class="general-card">

    <mat-card-header>
      <mat-card-title>Set your family secret</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   type="password"
                   placeholder="Family Secret"
                   formControlName="secret">
          </mat-form-field>
          <div *ngIf="familyForm.dirty">
            <mat-error *ngIf="familyForm.controls['secret'].hasError('required')">
              Family secret is required.
            </mat-error>
            <mat-error *ngIf="familyForm.controls['secret'].hasError('minlength')">
              Family secret must be 16 characters long.
            </mat-error>
          </div>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>