<div *ngIf="familyID && afAuth.user | async as user; else showLogin">

  <mat-toolbar>
    <p>Hello {{ user.displayName }} <span *ngIf="!isHandset">({{ user.email }})</span></p>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button
            color="accent"
            (click)="logout()">Logout</button>
  </mat-toolbar>

  <app-add-record [familyID]="familyID"></app-add-record>
  <app-records [familyID]="familyID"></app-records>
  <app-family-form [uid]="user.uid"
                   [familyID]="familyID"></app-family-form>
</div>

<ng-template #showLogin>
  <mat-toolbar>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button
            color="primary"
            (click)="login()">Login with Google</button>
  </mat-toolbar>
</ng-template>