<mat-card class="general-card">
    <mat-card-header>
        <mat-card-title>Current balance for {{currentDate | date:'MMMM yyyy'}}</mat-card-title>
        <span style="flex: 1 1 auto;"></span>
        <app-month-picker (handleDateChange)="handleDateChange($event)"></app-month-picker>
    </mat-card-header>


    <mat-card-content>
        <table mat-table
               class="full-width-table"
               [dataSource]="dataSource"
               aria-label="Elements">

            <ng-container matColumnDef="title">
                <th mat-header-cell
                    *matHeaderCellDef>Title</th>
                <td mat-cell
                    *matCellDef="let row">{{row.title}}</td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell
                    *matHeaderCellDef>Amount</th>
                <td mat-cell
                    *matCellDef="let row">{{row.amount}}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell
                    *matHeaderCellDef>Date</th>
                <td mat-cell
                    *matCellDef="let row">{{row.date?.toDate() | date:"short" }}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell
                    *matHeaderCellDef></th>
                <td mat-cell
                    *matCellDef="let row">
                    <a href="javascript:void(0)"
                       (click)="handleDeleteClick(row)">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="
                   displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>


</mat-card>