.full-width-table {
  width: 100%;
}

.full-width {
  width: 100%;
}

.general-card {
  min-width: 120px;
  margin: 20px 20px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.footer-text {
  margin-top: 15px;
  padding-left: 24px;
}

.rtl {
  direction: rtl;
  text-align: left;
}
